@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

#submit {
  width: fit-content;
  padding: 0 15px;
}

body {
  background: #fff url('./images/pexels-cottonbro-4861360.jpg') no-repeat;
  background-size: cover;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.cursive {
  font: 30px 'Sacramento', cursive;
}

.holder {
  backdrop-filter: blur(4.5px);
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
