#submit {
  width: fit-content;
  padding: 0 15px;
}

body {
  background: #fff url('./images/pexels-cottonbro-4861360.jpg') no-repeat;
  background-size: cover;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
